/* Global styles */
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  /* Container styles */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Header styles */
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-align: center;
    color: #333;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 28px;
    margin-top: 0;
  }
  
  /* Table styles */
  .table {
    border: none;
    margin: 0;
  }
  
  .table thead tr th {
    text-align: center;
    font-weight: bold;
    background-color: #e9ecef;
    color: #333;
  }
  
  .table tbody tr td {
    text-align: center;
  }
  
  .table tbody tr.success td {
    background-color: #d4edda;
  }
  
  .table tbody tr.warning td {
    background-color: #fff3cd;
  }
  
  /* Button styles */
  .btn {
    font-weight: bold;
    border-radius: 0;
    text-transform: uppercase;
  }
  
  .btn-info {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-info:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  
  /* Input styles */
  input[type="text"], textarea {
    border: none;
    border-radius: 0;
    padding: 10px;
    font-size: 16px;
    background-color: #f5f5f5;
  }
  
  input[type="text"]:focus, textarea:focus {
    outline: none;
    box-shadow: none;
  }
  
  /* Miscellaneous styles */
  .left-column {
    float: left;
    width: 75%;
    height: 500px;
    overflow-y: scroll;
  }
  
  .right-column {
    float: right;
    width: 25%;
    height: 500px;
    overflow-y: hidden;
    resize: vertical;
  }
  
  textarea {
    resize: none;
  }
  
  
  .due-today {
    margin-top: 20px;
  }
  .current-courses{
    margin-top: 20px;
  }
  
  .text-left {
    text-align: left;
  }
  
  .no-line {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  } 
  