<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      th:rel="stylesheet"
      th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css} "
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/addItemPageProperties.css}"
    />
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="col-md-6">
        <h1>Add a New Course</h1>
        <form
          action="#"
          th:action="@{/course}"
          th:object="${course}"
          method="POST"
        >
          <div class="form-group">
            <label for="course">Course Name</label>
            <input
              class="form-control"
              type="text"
              th:field="*{courseName}"
              id="course"
              placeholder="Course Name"
            />
            <span
              th:if="${#fields.hasErrors('courseName')}"
              th:errors="*{courseName}"
            ></span> 
          </div> <!-- closing form-group div for Course Name input -->

          <div class="form-group">
            <label for="course">Course Description</label>
            <input
              class="form-control"
              type="text"
              th:field="*{courseDescription}"
              id="description"
              placeholder="Description"
            />
            <span
              th:if="${#fields.hasErrors('courseDescription')}"
              th:errors="*{courseDescription}"
            ></span> 
          </div> <!-- closing form-group div for Course Name input -->

          <div class="form-group">
            <label for="currentCourseGrade">Current Grade</label>
            <input
              class="form-control"
              type="text"
              th:field="*{currentCourseGrade}"
              id="currentCourseGrade"
              placeholder="0.0"
            />
            <span
              th:if="${#fields.hasErrors('currentCourseGrade')}"
              th:errors="*{currentCourseGrade}"
            ></span> 
          </div> <!-- closing form-group div for Current Grade input -->

          <button type="submit" class="btn btn-success">Add Course</button>
        </form>
      </div>
    </div>
  </body>
</html>
