<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      th:rel="stylesheet"
      th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css} "
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/indexPageProperties.css}"
    />
  </head>


  <body>
    <div class="container" style="border: none">
      <h1 class="text-center">Plan Kueue</h1>
      <h2 class="text-center">Get your schedule in order!</h2>
      <div class="left-column container" style="float: left; width: 75%; border-radius: 0; height: 600px; overflow-y: hidden;">
       
        <!-- Events table -->
        <div id="eventsTable" class="table-container" style="overflow-y: auto; height: 50%;margin-bottom: 20px;">
          <table class="table table-bordered">
            <thead>
              <th style="text-align: center;">Events</th>
              <tr>
                <th>Actions</th>
                <th>Id</th>
                <th>Description</th>
                <th>Complete</th>
                <th>Due Date</th>
                <th>Monthly Recurrence</th>
              </tr>
            </thead>
            <tbody>
              <tr
                th:each="item: ${PlannerItems}"
                th:class="${item.complete} ? success : warning">
                <td>
                  <div class="btn btn-group-sm" role="group">
                    <a class="btn btn-info" th:href="@{/edit/{id}(id=${item.id})}"
                      >Edit</a>
                    <a
                      class="btn btn-danger"
                      th:href="@{/delete/{id}(id=${item.id})}"
                      >Delete</a>
                  </div>
                </td>
                <td th:text="${item.id}">item_id</td>
                <td th:text="${item.description}">item_description</td>
                <td th:text="${item.complete}">item_completed</td>
                <td th:text="${item.updateDueDate()}" > newDueDate</td>
                <td th:text="${item.reoccuring}">Recurrence</td>
              </tr>
            </tbody>
          </table>
        </div>


        <!-- Assignments table -->
        <div id="assignmentsTable" class="table-container" style="overflow-y: auto; height: 50%;">
          <table class="table table-bordered">
            <thead>
              <th style="text-align: center;">Assignments</th>
              <tr>
                <th>Actions</th>
                <th>ID</th>
                <th>Name</th>
                <th>Potential Points</th>
                <th>Earned Points</th>
                <th>Due Date</th>
                <th>Note</th>
              </tr>
            </thead>
            <tbody>
              <tr
              th:each="task: ${Tasks}"
              th:class="${task.completed} ? success : warning">
              <td>
                <div class="btn btn-group-sm" role="group">
                  <a class="btn btn-info" th:href="@{/editAssignment/{assignmentId}(assignmentId=${task.assignmentId})}">Edit</a>
  <a class="btn btn-danger" th:href="@{/deleteAssignment/{assignmentId}(assignmentId=${task.assignmentId})}">Delete</a>
                </div>
           
              </td>
              <td th:text="${task.assignmentId}">task_id</td>
              <td th:text="${task.name}">task_name</td>
              <td th:text="${task.possiblePoints}">task_pospoints</td>
              <td th:text="${task.earnedPoints}">task_earnpoints</td>
              <td th:text="${task.dueDate}">task_dueDate</td>
              <td th:text="${task.noteCont}">task_note</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
     
      <div class="right-column container" style="float: right; width: 25%; border-radius: 0; height: 600px; overflow-y: hidden;resize: none;">
        <h1 class="text-center">Notes:</h1>
        <textarea name="note" rows="20" style="width: 100%" th:value="${text}" oninput="updateText(event)"></textarea>
      </div>
     
      <script>
        function updateText(event) {
          var newText = event.target.value;
          localStorage.setItem("text", newText);
        }
     
        // Load text from local storage when the page loads
        var text = localStorage.getItem("text");
        if (text) {
          document.querySelector("textarea[name='note']").value = text;
        }
      </script>
     
      <p style = "text-align: left;">
        <a class="btn btn-success" href="/create-todo">Add Event</a>
        <a class="btn btn-success" href="/add-course">Add Course</a>
        <a class="btn btn-success" href="/add-assignment">Add Assignment</a>
        <a class="btn btn-success" href="/GPA">Calculate GPA</a>
      </p>
    </div>


    <div class="container" style="border: none;">
      <div class="current-courses container" style="float: left; width: 48%; border-radius: 0;">
        <p>
          <h1 class="text-left">Current Courses</h1>
          <h1 class="no-line"></h1>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="width: 10%">Actions</th>
                <th>Name</th>
                <th>Grade</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr
              th:each="course: ${Courses}">
              <td>
                <div class="btn btn-group-sm" role="group">
                  <a class="btn btn-info" th:href="@{/editCourse/{id}(id=${course.courseId})}"
                    >Edit</a>
                  <a
                    class="btn btn-danger"
                    th:href="@{/deleteCourse/{id}(id=${course.courseId})}"
                    >Delete</a
                  >
                </div>
              </td>
              <td th:text="${course.courseName}">course_name</td>
              <td th:text="${course.currentCourseGrade}">course_grade</td>
              <td th:text="${course.courseDescription}">course_description</td>
            </tr>
            </tbody>
          </table>
        </p>
      </div>
      <div class="due-today container" style="float: right; width: 48%; border-radius: 0;">
        <p>
          <h1 class="text-left">Due Today</h1>
          <h1 class="no-line"></h1>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Potential Points</th>
              </tr>
            </thead>
            <tbody>
            <tr th:each="task: ${Tasks}" th:if="${#dates.format(#dates.createNow(), 'MM/dd/yyyy').equals(task.dueDate)}">
            <td th:text="${'Assignment'}">Current Date</td>
            <td th:text="${task.name}">task_name</td>
            <td th:text="${task.possiblePoints}">task_pospoints</td>
            </tr>
            <tr th:each="event: ${PlannerItems}" th:if="${#dates.format(#dates.createNow(), 'MM/dd/yyyy').equals(event.dueDate)}">
              <td th:text="${'Event'}"></td>
              <td th:text="${event.description}">event_name</td>
            </tr>
            </tbody>
          </table>
        </p>
      </div>
      <div style="clear: both;"></div>
    </div>

    <tr th:each="task: ${Tasks}"></tr>

    <div class="container" style="border: none;">
      <div class="current-courses container" style="float: left; width: 48%; border-radius: 0;">
        <p>
          <h1 class="text-left">General Priority Queue</h1>
          <h1 class="no-line"></h1>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Points</th>
                <th>Notes</th>
              </tr>
            </thead>
            <tr th:each="item : ${GQueue}">
              <td th:text="${item.name}"></td>
              <td th:text="${item.possiblePoints}"></td>
              <td th:text="${item.noteCont}">task_note</td>
            </tr>
          </table>
        </p>
      </div>
      <div class="due-today container" style="float: right; width: 48%; border-radius: 0;">
        <p>
          <h1 class="text-left">Todays Priority Queue</h1>
          <h1 class="no-line"></h1>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Points</th>
                <th>Notes</th>
              </tr>
            </thead>
            <tr th:each="item : ${DQueue}">
              <td th:text="${item.name}"></td>
              <td th:text="${item.possiblePoints}"></td>
              <td th:text="${item.noteCont}">task_note</td>
            </tr>
          </table>
        </p>
      </div>
      <div style="clear: both;"></div>
    </div>

    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>


  </body>
</html>



